<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IUserProcessing" />
                <binding name="BasicHttpBinding_IDatabseManager" />
                <binding name="BasicHttpBinding_IDatabaseManagerAlarm" />
            </basicHttpBinding>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_ITagProcessing" />
                <binding name="WSDualHttpBinding_IAlarmDisplay" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:59065/UserProcessing.svc/UserProcessing"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserProcessing"
                contract="ServiceReference.IUserProcessing" name="BasicHttpBinding_IUserProcessing" />
            <endpoint address="http://localhost:59065/TagProcessing.svc/DatabseManager"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDatabseManager"
                contract="ServiceReference1.IDatabseManager" name="BasicHttpBinding_IDatabseManager" />
            <endpoint address="http://localhost:59065/TagProcessing.svc/TagProcessing"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_ITagProcessing"
                contract="ServiceReference1.ITagProcessing" name="WSDualHttpBinding_ITagProcessing">
                <identity>
                    <userPrincipalName value="DESKTOP-J0QAMIG\Kssbc" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:59065/AlarmDisplay.svc/DatabseManagerAlarm"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDatabaseManagerAlarm"
                contract="ServiceReference2.IDatabaseManagerAlarm" name="BasicHttpBinding_IDatabaseManagerAlarm" />
            <endpoint address="http://localhost:59065/AlarmDisplay.svc/AlarmDisplay"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IAlarmDisplay"
                contract="ServiceReference2.IAlarmDisplay" name="WSDualHttpBinding_IAlarmDisplay">
                <identity>
                    <userPrincipalName value="DESKTOP-J0QAMIG\Kssbc" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>