<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IReport_Manager" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:59065/Report-Manager.svc/ReportManager"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReport_Manager"
                contract="ServiceReference.IReport_Manager" name="BasicHttpBinding_IReport_Manager" />
        </client>
    </system.serviceModel>
</configuration>